pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

* {
	font-family: 'Droid Sans Mono', monospace;
}

.github {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index: 100;
	width: 149px;
	height: 149px;
}

#queryBar {
	padding: 1rem 3rem;
	width: 40rem;
}

#queryBar button {
	margin-right: 6px;
}
#queryBar button:first-child {
	float: right;
}

pre {
	margin: 0;
}

foot {
	padding: 3rem 2rem 0;
	display: block;
}
